In [24]:
import pandas
import sqlite3
import numpy as np


animeaux = pandas.read_csv("dataset/animaux.csv", skipinitialspace=True)
animeaux.head(11)

red = animeaux[animeaux.duplicated("name", keep=False)]
red

animeaux.drop_duplicates("name", keep="last", inplace=True)

red = animeaux[animeaux.duplicated("name", keep=False)]
red

animeaux

        name  eggs  aquatic  backbone  covering    class
0    dolphin     0        1         1      skin   Mammal
2   platypus     1        1         1      hair   Mammal
3   elephant     0        0         1      hair   Mammal
4     falcon     1        0         1  feathers     Bird
5    penguin     1        1         1  feathers     Bird
6       sole     1        1         1      skin     Fish
7   tortoise     1        0         1      skin  Reptile
8   seasnake     0        1         1      skin  Reptile
9       tuna     1        1         1      skin     Fish
10      mink     0        1         1      hair   Mammal
11   chicken     1        0         1  feathers     Bird

In [39]:
X_animeaux = animeaux.iloc[:, :-1].values # Premières colonnes 
Y_animeaux = animeaux.iloc[:,-1].values # Dernière colonne 

from sklearn import preprocessing 

ord_enc = preprocessing.OrdinalEncoder()
animeaux_enc = ord_enc.fit_transform(animeaux[["name"]])

X_animeaux_ordinal = np.concatenate((animeaux_enc, X_animeaux[:, 1].reshape((len(X_animeaux), 1))), axis=1)

In [41]:
# C'est pour tester le cas où la régression est difavorisée
NBR_TEST = 4

X_test = X_animeaux_ordinal[-NBR_TEST:, :] 
Y_test = Y_animeaux[-NBR_TEST:]

X_train = X_animeaux_ordinal[:-NBR_TEST, :] 
Y_train = Y_animeaux[:-NBR_TEST]

array([[7.0, 0],
       [10.0, 1],
       [4.0, 0],
       [0.0, 1]], dtype=object)

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.tree import DecisionTreeClassifier

#cart
sklearn_cart_iris = DecisionTreeClassifier()
sklearn_cart_iris.fit(X_train, Y_train)

from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, Y_train)